.header {
  .brand {
    padding-left: 20px;
  }
  .nav-link {
    display: flex;
    align-items: center;
  }
  .navbar{
    margin-right: 10px;
  }

  .navbarCollapse {
    padding-right: 20px;
  }
}
