.rootContainer {
  display: flex;
  height: 100%;
  overflow-y: auto;

  @media (max-width: 768px) {
    flex-direction: column; 
  }
  @media (max-width: 1024px) {
    flex-direction: column; 
  }
}

.sidebarContainer {
  width: 250px; 
  background-color: #f8f9fa;

  @media (max-width: 768px) {


  }
  @media (max-width: 960px) {
    display: none;

  }
  @media (max-width: 1024px) {
    transform: translateX(-100%);

  }
}

.outletContainer {
  flex: 1;
  padding: 2rem;

  @media (max-width: 768px) {
    padding-top: 50px; 
  }
}